{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue dans notre blog sur les livres</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur, eos eveniet exercitationem
        hic in ipsum labore laudantium libero maiores nam, nesciunt officiis pariatur quam rem tempora vel voluptate?
    </p>
{% endblock %}
